/Computation/my_mlp
/MLP/submission.csv
/DL_Computation/mlp.params
/DL_Computation/dict-file
/DL_Computation/x-file
/DL_Computation/xy-file
/data/cifar-10-python.tar.gz
/data/kaggle_house_pred_test.csv
/data/kaggle_house_pred_train.csv
